* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --color-background-grey: #EAEAEA;
}

body {
  color: black;
  font-family: 'Cormorant Garamond', serif;
  background-color: var(--color-background-grey);
  width: 100%;
  height: 100%;
}
section {
  margin-top: 30px;
}
section h2 {
  font-size: 7rem;
}
section h3 {
  font-size: 3.6rem;
}
section h4 {
  font-size: 1.3rem;
}

section p {
  font-weight: bold;
  font-size: 1.2rem;
  opacity: .7;
}
navbar {
  z-index: 3;
  /* overflow: hidden; */
  position: fixed;
  width: 100%;
  top: 0;
  
  background: var(--color-background-grey);
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
navbar ul {
  display: flex;
  align-items: center;
  justify-items: center;

  list-style: none;
}

navbar ul li {
  margin: 1rem;
  gap: .5rem;
}
navbar ul li a {
  float: left;
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
navbar ul li:last-child a {
  background: black;
  color: var(--color-background-grey);
  padding: .5rem 1rem;
  border-radius: .15rem;
}


.container {
  display: grid;
  grid-template-columns: 1fr 45vw 45vw 1fr;
  grid-template-rows: 700px 700px 700px 740px 300px;
  align-content: center;
  justify-content: center;
}

/*=============================home=============================*/
.home {
  margin-top: 30px;
  grid-column: 2/4;
  grid-row: 1/2;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text.home {
  position: relative;
  right: -50px;
  z-index: 2;
  display: list-item;
  list-style: none;
}

.home img {
  width: 320px;
}
.home .img-n1 {
  z-index: -1;
  position: relative;
}
.home .img-n2 {
  position: relative;
  left: -30px;
}

/*=============================new-arrivals=============================*/
#new-arrivals {
  padding: 60px 0 0 0;
  margin-top: 70px;
  grid-column: 2/4;
  grid-row: 2/3;
}
#new-arrivals .text {
  height: 650px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.text-column {
  background: var(--color-background-grey);
  padding: 4rem;
}
#new-arrivals > img {
  position: absolute;
  z-index: -1;
}
.img-03 {
  margin-top: 60px;
  z-index: -1;
  grid-column: 1/5;
  grid-row: 2/3;
}
.img-03 > img {
  width: 100%;
}


/*=============================shop=============================*/
#shop {
  margin-top: 100px;
  padding: 120px 0 0 0;
  grid-column: 2/4;
  grid-row: 3/4;
}
#shop {
  display: flex;
  justify-content: space-around;
}
#shop img {
  height: 450;
}
#shop a {
  color: black;
  font-weight: bold;
}
#shop .card-02 {
  margin-top: -50px;
}

/*=============================blog=============================*/
#blog {
  padding: 100px 0 0 0;
  grid-column: 1/5;
  grid-row: 4/5;
}
#blog .text {
  display: flex;
  justify-content: space-around;
}
.img-07-09 {
  grid-column: 1/5;
  grid-row: 4/5;
}
.img-07-09 {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.img-07-09 img {
  position: relative;
  z-index: -1;
  width: 32.9vw;
}

/*=============================about=============================*/
#about {
  margin-top: 90px;
  margin-bottom: 300px;
  grid-column: 1/5;
  grid-row: 5/6;
}
#about {
  display: flex;
  justify-content: space-around;
}
#about table tr {
  font-size: 1rem;
  text-align: left;
}
table thead th {
  padding: 1rem 2rem;
  text-align: left;
}
table tbody td {
  padding: .3rem 1.5rem;
}
table tbody td a {
  text-decoration: none;
  font-style: none;
  color: grey;
}

#about input{
  margin-top: 20px;
  border: none;
  background: white;
  width: 260px;
  height: 43px;
  padding: 1rem;
}

#about button {
  border-style: none;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 1rem;
  color: var(--color-background-grey);
  padding: .7rem 1rem;
  background: black;
}
/*=============================cart=============================*/
.cart {
  height: 100vh;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;

  font-size: 1.3rem;
  font-weight: bold;
}
.cart > img {
  position: absolute;
  z-index: -1;
  opacity: 0.05;
  width: 300px;
  height: 300px;
}
.cart a {
  color: grey;
}